
    nav {
      background-color: #1e1e2f;
      color: white;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Segoe UI', sans-serif;
    }

    .nav-logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 25px;
    }

    .nav-links li a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s;
    }

    .nav-links li a:hover {
      color: #00bcd4;
    }
    .navb{
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: space-between;
    }
    .navb a:hover{
        font-size:15px;
    }
    @media (max-width: 768px) {
      .nav-links {
        flex-direction: column;
        background-color: #1e1e2f;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        display: none;
      }

      .nav-links.active {
        display: flex;
      }

      .menu-toggle {
        display: block;
        cursor: pointer;
      }
    }

    .menu-toggle {
      display: none;
      font-size: 1.5rem;
    }